@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;900&display=swap");

/* VARIABLES */
:root {
  --white: #fff;
  --grey: #f2f7fe;
  --dark-grey: #bec8d8;
  --light-blue: #f4f8fe;
  --dark-blue: #093366;
}

/* RESET */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}
main {
  max-width: 90%;
  max-width: 1440px;
  margin: 100px auto;
  overflow: hidden;
}
h1 {
  color: var(--dark-blue);
}
span {
  font-size: 32px;
}

.container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  background-color: var(--light-blue);
  padding: 3rem 0 4rem 8rem;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header,
section {
  padding: 0 36px;
}
section {
  overflow-x: auto;
  display: flex;
  justify-content: left;
}
section::-webkit-scrollbar {
  visibility: hidden;
}
.card {
  min-width: 315px;
  margin: 0 15px;
  border: 1px solid var(--grey);
  box-shadow: 4px 4px 20px rgba(120, 135, 182, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: ease 0.5s;
  position: relative;
  left: 0;
  padding: 1.25rem 1.25rem 0;
  background: var(--white);
}
.content {
  font-size: 1rem;
  color: var(--dark-blue);
}
.card-info {
  border-top: 1px solid var(--grey);
  padding: 1.0625rem 0 1.25rem;
  display: flex;
  align-items: center;
}
.card-info i,
.card-info span {
  color: var(--dark-grey);
}
.card-info i {
  font-size: 1.5625rem;
}
.card-info span {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 700;
  margin-left: 5px;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  background: var(--dark-blue);
  border-radius: 100%;
  display: block;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  color: var(--grey);
}
.play {
  text-align: center;
  line-height: 1;
  width: 100%;
  cursor: pointer;
}
